﻿
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a href="/HistoriaClinica/Crear" class="btn btn-success">Crear</a>
<table class="table">
    <thead>
        <tr>
            <th>codigo</th>
            <th>fecha de registro</th>
            <th>nombre de mascota</th>
            <th>fecha de nacimiento</th>
            <th>sexo</th>
            <th>especie</th>
            <th>raza</th>
            <th>tamaño</th>
            <th>datos particulares</th>
            <th>nombre dueño</th>
            <th>direccion</th>
            <th>telefono</th>
            <th>email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr>
                <td>@item.codigo</td>
                <td>@item.fecha</td>
                <td>@item.nombre</td>
                <td>@item.fechaNacimiento</td>
                <td>@item.sexo</td>
                <td>@item.Especie.nombre</td>
                <td>@item.Raza.nombre</td>
                <td>@item.tamaño </td>
                <td>@item.datosParticulare</td>
                <td>@item.nombreDueño</td>
                <td>@item.direccionDueño</td>
                <td>@item.telefono</td>
                <td>@item.email</td>
                
            </tr>
        }
    </tbody>
</table>