﻿
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<body>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card text-center">
                    <div class="card-header">
                        <h3>Iniciar Sesion</h3>
                    </div>
                    <div class="card-body">
                        <form action="/Auth/Login" method="post">
                            <div class="form-group">
                                <label class="input-label">Nombre</label>
                                <input type="text" name="nombre" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="input-label">Contraseña</label>
                                <input type="password" name="contraseña" class="form-control" />
                            </div>
                            <button class="btn btn-info">Ingresar</button>
                        </form>
                        <br />
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
